#container {
    border: 1px solid red;
    box-shadow: 5px 5px #bbb;
    background: paleturquoise;
}

.box-base {
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    border: 1px dotted crimson;
    width: 25%;
    height: auto;
    margin: 10px 50px 10px;
    box-shadow: 5px 4px cadetblue;
    border-radius: 5%;
    position: relative;
    background: rgb(15, 214, 155);
}

.box-base:hover {
    background: red;
    opacity: 0.7;
}

#img1 {
    position: absolute;
    bottom: 0%;
    float: left;
}

#img2 {
    position: absolute;
    top: 0%;
    right: 0%;
}

#img3 {
    position: absolute;
    bottom: 0%;
    right: 0%;
}

img {
    position: absolute;
    width: 40px;
    height: 40px;
}