* {
  margin: 0px;
  padding: 0px;
}

h1 {
  font: bold 20px verdana, sans-serif;
}

h2 {
  font: bold 14px verdana, sans-serif;
}

/*para asegurarnos de que seran tradados como regularmente se haace con elmentos <divZ y de este modo construir el modelo caja*/

header, section, footer, aside, nav, article, figure, figcaption, hgroup {
  display: block;
}

/* centrando el cuerpo*/

body {
  text-align: center;
}

/* background-image: url("paper.gif");*/

#agrupar {
  width: 960px;
  margin: 15px auto;
  text-align: left;
}

/*agregamos estilos para <header>*/

#cabecera {
  background: #FFFBB9;
  border: 1px solid #999999;
  padding: 20px;
}

/* Agregando estilos para <nav>*/

#menu {
  background: #CCCCCC;
  padding: 0px 0px;
}

#menu li {
  display: inline-block;
  list-style: none;
  padding: 5px;
  font: bold 14px verdana, sans-serif;
}

/* section y aside la propiedad flotante especifica como debe flotar un elemnto nota los elementos absolutamente posicionados ignoran la propiedad del flotante*/

#seccion {
  float: left;
  width: 660px;
  margin: 20px;
}

#columna {
  float: left;
  width: 220px;
  margin: 20px 0px;
  padding: 20px;
  background: #CCCCCC;
}

#pie {
  clear: both;
  text-align: center;
  padding: 20px;
  border-top: 2px solid #999999;
}

#imagen {
  width: 20%;
  height: 20%;
}

#imagen2 {
  width: 15%;
  height: 10%;
}

article {
  background: #FFFBCC;
  border: 1px solid #999999;
  padding: 20px;
  margin-bottom: 15px;
}

article footer {
  text-align: right;
}

img {
  width: 30%;
  height: 35%;
}

time {
  color: #999999;
}

figcaption {
  font: italic 14px verdana, sans-serif;
}