ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(191, 183, 76);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    color: black;
}

li a:active {
    font-style: italic;
    background-color: rgb(233, 220, 33);
    font-size: 100%;
    animation-duration: 10s;
    animation-name: col;
    
}

@keyframes col{
    from{
        color: red;
    }
    to {
        color: red;
    }
}

li:last-child {
    float: right;
    color: white
}