body {
    margin: 0;
}

header h1 {
    color: green;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
    text-decoration: none;
}

a {
    text-decoration: none;
}

#pais {
    color: red;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
    color: royalblue;
}

article {
    margin-left: 170px;
    border-left: 1px solid green;
    padding: 1em;
    overflow: auto;
    background-color: #cccccc;
    background-repeat: repeat-y;
}

h1 {
    text-align: center;
    font-size: 150%;
}

footer {
    display: flex;
    align-content: flex-start;
}

#bandera {
    background-size: 5rem;
    width: 5em;
    height: 4em;
    background-repeat: no-repeat;
    align-items: center;
}